body {
    background: #000000;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-style: normal;
    font-size: larger;
}

header {
    text-align: center;
}

h1 {
    color:#ffffff;
    display: inline-block;
    margin: 0;
    border: 3px solid #ffffff;
    padding: 20px;
    box-shadow: 5px 5px 10px #ffffff80;
}

hr {
    color: #ffffff;
    width: 100%;
}


main {
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
    border: #ffffff;
    box-shadow: 30px 30px 5px #00000052;
}

h2 {
    text-align: center;
}

.box-content {
    display: flex;
    animation: pulsar 2s ease infinite;
}

.card1,
.card2 {
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
    margin: 0 30px;
    box-shadow: 5px 5px 10px #ffffff80;
}

.card1 {
    border-color: #000000;
    background: url(../img/rafikicard1.jpg);
    background-size: 100% 100%;
    
}

.card2 {
    border-color: #000000;
    background: url(../img/rafikicard2.jpg);
    background-size: 100% 100%;
}

.card1:hover {
    transform: scale(1.1);
}

.card2:hover {
    transform: scale(1.1);
}

.card-names {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-names a {
    text-decoration: none;
    color: inherit;
    text-decoration: double;
}

.card-name {
    flex: 1;
    text-align: center;
    font-weight: bolder;
}

footer {
    margin-left: 30px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid white;
    padding: 7px;
    margin: 8px;
}
footer a:hover {
    color: #000000;
    background-color: #ffffff;
}