body {
    background: rgb(255, 255, 255);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}
      

header {
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin: 0;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.box-content {
    display: flex;
    justify-content: space-between;
}

.card1,
.card2 {
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
    margin: 0 30px;
}

.card1 {
    border-color: rgb(0, 0, 0);
    background: url(../img/rafikicard1.jpg);
    background-size: 100% 100%;
    
}

.card2 {
    border-color: rgb(0, 0, 0);
    background: url(../img/rafikicard2.jpg);
    background-size: 100% 100%;
}

.card1:hover {
    transform: scale(1.1);
}

.card2:hover {
    transform: scale(1.1);
}

.card-names {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-names a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

  .card-name {
    flex: 1;
    text-align: center;
    font-weight: bolder;
}

.explanation {
    padding: 50px;
    text-align: center;
    font-weight: bolder;
    margin-left: 250px;
    margin-right: 250px;
}

footer {
    background: rgb(0, 0, 0);
    padding: 30px;
    width: 100%;
}

footer p {
    color: white;
    margin-left: 20px;
}

main {
    background-color: black;
    color: white;
    margin-bottom: 60px;
}