* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/cinza.jpg");
    background-size: cover;
    overflow-x: hidden;
}