body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0;
    display: table-row;
}

header h1 {
    color: rgb(255, 255, 255);
}

header nav a {
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-weight: bolder;
    box-sizing: border-box;
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 20px;
}

header nav a:hover {
    transform: scale(1.2);
}

section {
    padding: 20px;
    margin-left: 0;
}

.bg-white {
    background-color: white;
    color:black
}

.bg-black {
    background-color: black;
    color:white
}

.hobbies {
    width: 45%;
    height: auto;
}

.div-hobbies {
    margin-right: 8px;
    text-align: center;
}

.box-hobbies {
    display: flex;
}

.box-quotes {
    display: auto;
}

.quote {
    margin-right: 2px;
    text-align: center;
    padding: 10px;
    border: 3px solid white;
    height: 100%;
    margin-bottom: 50px
    
}

.philosophy-container {
    display: flex;
    justify-content: space-between;
}

.philosophy-pillar {
    width: 30%;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
    margin: 10px;
}

.nav-pages a {
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: xx-large;
    border: 2px solid black;
    font-weight: bolder;
    box-sizing: border-box;
    display: inline-block;
    width: 550px;
    height: 100px;
    margin: 20px;
    padding: 30px;   
}

.div-hobbies:hover {
    transform: scale(1.3);
}
