body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0;
    display: table-row;
}

header .nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

header .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

header .nav-items a {
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-weight: bolder;
    box-sizing: border-box;
    display: block;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin: 10px;
}

header nav a:hover {
    transform: scale(1.1);
}

header .img-header {
    width: 200px;
    height: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    align-self: last baseline;
}

.img-header {
    width: 100px;
    height: auto;
}

section {
    padding: 20px;
    margin-left: 0;
}

.bg-white {
    background-color: #ffffff;
    color:#000000
}

.bg-black {
    background-color: #000000;
    color:#ffffff
}

.box-hobbies {
    display: flex;
}

.div-hobbies {
    margin-right: 8px;
    text-align: center;
}

.div-hobbies:hover {
    transform: scale(1.3);
}

.hobbies {
    width: 45%;
    height: auto;
}

.philosophy-container {
    display: flex;
    justify-content: space-between;
}

.philosophy-pillar {
    width: 30%;
    text-align: center;
    padding: 20px;
    border: 1px solid #ffffff;
    box-shadow: 7px 7px 5px #ffffff80;
    margin: 10px;
}

.box-quotes {
    display: auto;
}

.quote {
    margin-right: 2px;
    text-align: center;
    padding: 10px;
    border: 3px solid #ffffff;
    box-shadow: 3px 3px 3px #ffffff8c;
    height: 100%;
    margin-bottom: 50px
    
}

.nav-pages {
   height: 100px;
   align-content: center;
   text-align: center;
}

.nav-pages a {
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    font-size: xx-large;
    border: 2px solid #000000;
    font-weight: bolder;
    box-sizing: border-box;
    display: inline-block;
    width: 480px;
    margin: 3px;
    height: 100px;
    padding: 30px;   
}

.list {
    width: 500px;
    height: 50px;
    text-align: center;
    margin: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    list-style: none;

}