body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0;
    display: table-row;
}

header h1 {
    color: rgb(255, 255, 255);
}

section {
    padding: 20px;
    margin-left: 0;
}

.bg-white {
    background-color: white;
    color:black
}

.bg-black {
    background-color: black;
    color:white
}

.hobbies {
    width: 45%;
    height: auto;
}

.div-hobbies {
    margin-right: 2px;
    text-align: center;
}

.box-hobbies {
    display: flex;
}

.box-quotes {
    display: auto;
}

.quote {
    margin-right: 2px;
    text-align: center;
    padding: 10px;
    border: 3px solid white;
    height: 100%;
    margin-bottom: 50px
    
}

.philosophy-container {
    display: flex;
    justify-content: space-between;
}

.philosophy-pillar {
    width: 30%; /* Ou ajuste conforme necessário para deixar espaço adequado */
    text-align: center;
    padding: 20px;
    border: 1px solid white;
    margin: 10px;
}